body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  margin: 0;
  background-color: #f9f9f9;
  color: #3d155f;
}

h1,
h2,
h3,
h4 {
  color: #4831d4;
}

.header {
  background: linear-gradient(
    90deg,
    #4831d4 0%,
    #4831d4 71%,
    #f4d06f 71.01%,
    #f4d06f 100%
  );
  color: #f9f9f9;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.header:before {
  content: "";
  background-image: url("/img//patterns.svg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.header > .content {
  width: 55%;
  padding: 30px 60px;
}

.header > .photo {
  width: 45%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 40px 0;
}

.header > .photo > .img {
  max-width: 46%;
}

.header > .photo > .img > img {
  max-width: 100%;
}

.header > .content > h1 {
  color: #f4d06f;
}

a.button {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  padding: 5px 10px;
  text-decoration: none;
  color: #f9f9f9;
  position: relative;
  z-index: 5;
  border: 1px solid #f4d06f;
  transition: color 0.5s;
}

a.button:hover {
  color: #3d155f;
}

a.button:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #f4d06f;
  transform: scaleX(0);
  transform-origin: left;
  transition-property: transform;
  transition-duration: 0.5s;
  z-index: -1;
}

a.button:hover:before {
  transform: scaleX(1);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.about {
  display: flex;
}

.about > section {
  width: 50%;
}

.about > section > article {
  padding: 30px 60px;
}

.projects {
  background: #f4d06f;
  padding: 20px 50px;
}

.projects > h1 {
  padding: 0px 10px;
  margin-bottom: 0px;
}

.projects > .list {
  display: flex;
  flex-direction: row;
}

.projects > .list > section {
  width: 33%;
}

.projects > .list > section > article {
  margin: 30px 10px;
  background: #f9f9f9;
}

.projects > .list > section > article > img {
  max-width: 100%;
  filter: grayscale(100%) contrast(150%);
  transition: filter;
  transition-duration: 0.5s;
}

.projects > .list > section:hover > article > img {
  filter: grayscale(0%) contrast(100%);
  transition-timing-function: ease-out;
}

.projects > .list > section > article > .content {
  padding: 10px;
}

.projects > .list > section > article > .content > a,
.projects > .list > section > article > .content > a:visited {
  font-size: 24px;
  color: #3d155f;
  margin-right: 5px;
}

.projects > .list > section > article > .content > ul {
  list-style: none;
  padding: 0px;
}

.projects > .list > section > article > .content > ul > li {
  font-family: "VT323", monospace;
  font-size: 18px;
  display: inline-block;
  margin-right: 8px;
}

.fakeborder {
  position: relative;
  z-index: 4;
}

.fakeborder:after {
  content: "";
  position: absolute;
  top: 20px;
  bottom: -15px;
  right: -20px;
  left: 20px;
  border: 1px solid #f9f9f9;
  z-index: -1;
}

footer {
  padding: 80px 60px;
  background: #2b2d42;
  color: #f9f9f9;
}

footer * h1,
footer * h2,
footer * h3,
footer * h4,
footer * a,
footer * a:visited {
  color: #f9f9f9;
  text-decoration: none;
}

footer > section {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.2em;
}

footer > section > .info {
  flex: 2;
}

footer > section > .links {
  flex: 1;
}

footer > section > .links > ul {
  padding: 0px;
  list-style: none;
}

footer > article {
  padding-top: 20px;
  text-align: center;
}
